<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP for Verification</title>
</head>

<body>
    <h1>Your OTP is: <%- otp %></h1>
    <p>Please use this one-time code to verify your account.</p>
    <p>This OTP is valid for 10 minutes only.</p>
</body>

</html>